<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layouts/publicLayout">
<body>
<div class="login-box" layout:fragment="content">
  <form th:action="@{/authenticate}" method="post">
    <div class="logo-box"> <img th:src="@{/images/logo.png}" src="../public/images/logo.png" alt="Dynamics Logo" />
      <h3 th:text="#{login.title}">Login</h3>
    </div>
    <div class="alert alert-danger" th:if="${error}">
      <button data-dismiss="alert" class="close close-sm" type="button"> <i class="fa fa-times"></i> </button>
      <span th:text="${error}"></span> </div>
    <div class="alert alert-success" th:if="${success}">
      <button data-dismiss="alert" class="close close-sm" type="button"> <i class="fa fa-times"></i> </button>
      <span th:text="${success}"></span> </div>
    
    <!-- <div th:if="${error}" class="error" th:text="#{login.error.invalid.login}">
            Invalid username and password.
        </div>
         -->
    
    <div class="form-group login-bx"> <i class="fa fa-user"></i>
      <input type="text" name="username" autofocus="autofocus" placeholder="User Name" />
    </div>
    <div class="form-group login-bx"> <i class="fa fa-lock"></i>
      <input type="password" value="" name="password" placeholder="Password" />
    </div>
    <div class="login-bx"> <a th:href="@{/forgotPassword}" th:text="#{login.anchor.forgot.password}">Forgot Password ?</a>
      <button type="submit" class="btn btn-primary pull-right login-btn-main" th:text="#{login.btn.login}">Login</button>
    </div>
  </form>
  <!-- <hr/>
  <h5 class="text-center">OR</h5>
  <a class="btn btn-block btn-office365" th:href="@{/adal4jsample/secure/aad}"><img th:src="@{/images/office-365.png}" src="../public/images/office-365.png" /> Login with Office365</a> -->
</div>
</body>
</html>